.boardParent {
  width 100%
  height 100%
  position relative

  .writeBoard,
  .writeRemoveBoard,
  .boardSvg {
    z-index 1
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    pointer-events none
  }

  svg, g, path {
    // 去除 svg g path 标签点击后的黑框
    outline none
  }

  text, tspan {
    user-select none
  }

  &[data-mode="arrow"] {
    .writeBoard {
      pointer-events none
    }

    .boardSvg {
      pointer-events auto
    }
  }

  &[data-mode="draw"] {
    .writeBoard {
      pointer-events auto
    }

    .boardSvg {
      pointer-events none
    }
  }

  &[data-mode="eraser"] {
    .writeRemoveBoard {
      pointer-events auto
    }

    .boardSvg {
      pointer-events none
    }
  }

  &[data-mode="word"] {
    .writeBoard {
      pointer-events auto
    }

    .boardSvg {
      pointer-events none
    }
  }
}
